@model IEnumerable<ToolViewModel>

@{
    ViewBag.Title = "Review your CART and select quantity";
    ViewBag.Total = 0;
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<body>
   
<div class="text-center row">
    @if(Model.Any())
    {     
            <form asp-controller="Cart" asp-action="Checkout" method="post">

                <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Brand</th>
                                    <th>Available</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th></th>
                                    <th>Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                 {    
                                    <tr >

                                        <td>
                                            <label>@item.Title</label>
                                            <input type="hidden" asp-for="@item.Title" readonly value="@item.Title">
                                        </td>
                                        <td>
                                            <label>@item.Brand</label>
                                            <input type="hidden" asp-for="@item.Brand" readonly value="@item.Brand">
                                        </td>
                                        <td>
                                            <label>@item.Quantity</label>
                                            <input type ="hidden" asp-for="@item.Quantity" readonly value="@item.Quantity">
                                        </td>
                                        <td>
                                    <input asp-for="@item.OrderQuantity" id="@("qty" + item.Id)" class="my_class" type="number" value="0" min="1" max="@item.Quantity" onchange="myFunction(@item.Id)" onclick="totalValue()">
                                        </td>
                                        <td>
                                            <label>@item.Price</label>
                                    <input type="hidden" asp-for="@item.Price" id="@("price" + item.Id)" readonly value="@item.Price">
                                        </td>
                                        <td>
                                            <a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger mb-2">Remove</a>
                                        </td>
                                        <td>
                                    <input type="text" size="5" id="@("total" + item.Id)" class="cost" name="cost" />

                                   @*         <label type="text">@(item.Price*item.OrderQuantity)</label>*@
                                    @{
                                        ViewBag.Total += item.Price * item.OrderQuantity;                                            
                                    }
                                        </td>
                                            <input type="hidden" asp-for="@item.Id" readonly value="@item.Id">
                            </tr>

                        }
                            </tbody>
                        </table>
                <div class="text-center">
                    <label for="address">Enter your address</label>
                    <input name="address" type="text" />
                </div>
                <div>
                    <label onclick="totalValue()">Total:</label>
                    <input name="total" id="total">
                </div>
                <div class="text-center">
                    <input class="btn btn-primary mt-3 " type="submit" value="Checkout" />
                </div>

             


            </form>            
    }
    else
    {
        <h3>No items in cart</h3>
    }
    </div>
</body>



<script>    
        function myFunction(id) {
        var elementId1 = "qty" + id;
        var elementId2 = "price" + id;
        var elementId3 = "total" + id;
        value1 = parseFloat(document.getElementById(elementId1).value);
        value2 = parseFloat(document.getElementById(elementId2).value);
        if (!value1 == "" && !value2 == "") {
            sum = value1 * value2;
            document.getElementById(elementId3).value = sum.toFixed(2);
        }
    }
  
    function totalValue() {
        document.preventDefault;
        var total = 0
        elements = document.getElementsByClassName("cost");
        Array.from(elements).forEach((el) => {
            if (parseFloat(el.value) > 0) {
                total = total + parseFloat(el.value);
            }
        });

        document.getElementById("total").value = total.toFixed(2);
        
    }
</script>
