@model IEnumerable<ToolViewModel>

@{
    ViewBag.Title = "Review your CART and select quantity";
    ViewBag.Total = 0;
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<body>
   
<div class="text-center row">
    @if(Model.Any())
    {     
            <form asp-controller="Cart" asp-action="Checkout" method="post">

                <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Brand</th>
                                    <th>Available</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th></th>
                                    <th>Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                 {    
                                    <tr >

                                        <td>
                                            <label>@item.Title</label>
                                            <input type="hidden" asp-for="@item.Title" readonly value="@item.Title">
                                        </td>
                                        <td>
                                            <label>@item.Brand</label>
                                            <input type="hidden" asp-for="@item.Brand" readonly value="@item.Brand">
                                        </td>
                                        <td>
                                            <label>@item.Quantity</label>
                                            <input type ="hidden" asp-for="@item.Quantity" readonly value="@item.Quantity">
                                        </td>
                                        <td>
                                    <input asp-for="@item.OrderQuantity" id="@("qty" + item.Id)" class="my_class" type="number" value="0" min="1" max="@item.Quantity" onchange="myFunction(@item.Id); totalValue();">
                                        </td>
                                        <td>
                                            <label>@item.Price</label>
                                            <input type="hidden" asp-for="@item.Price" id="@("price" + item.Id)" readonly value="@item.Price">
                                        </td>
                                        <td>
                                            <a asp-controller="Cart" asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger mb-2">Remove</a>
                                        </td>
                                        <td>
                                            <input type="text" size="5" id="@("total" + item.Id)" class="cost" name="cost" />

                                        </td>
                                            <input type="hidden" asp-for="@item.Id" readonly value="@item.Id">
                                </tr>

                        }
                                  <tr>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td><label for="total">Total:</label></td>
                                       <td><input readonly name="total" id="total" size="5"></td>
                                  </tr>
                                   <tr>
                                       <td><label for="address">Delivery Address:</label></td>
                                       <td><input type="text" name="address" style="width:312%" required></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                       <td></td>
                                  </tr>
                            </tbody>
                        </table>
                <div class="text-center">
                    <input class="btn btn-primary mt-3 " type="submit" value="Checkout" />
                </div>
             @*   <div>
                    <a onclick="getData()()">Cities:</a>
                </div>*@           


            </form>            
    }
    else
    {
        <h3>No items in cart</h3>
    }
    </div>
</body>



<script>    
    function myFunction(id) {
        var elementId1 = "qty" + id;
        var elementId2 = "price" + id;
        var elementId3 = "total" + id;
        value1 = parseFloat(document.getElementById(elementId1).value);
        value2 = parseFloat(document.getElementById(elementId2).value);
        if (!value1 == "" && !value2 == "") {
            sum = value1 * value2;
            document.getElementById(elementId3).value = sum.toFixed(2);
        }
    }
  
    function totalValue() {
        var total = 0
        elements = document.getElementsByClassName("cost");
        Array.from(elements).forEach((el) => {
            if (parseFloat(el.value) > 0) {
                total = total + parseFloat(el.value);
            }
        });

        document.getElementById("total").value = total.toFixed(2);
        
    }

    function getData() {       

        //const test = async () => {
        //    var uname = "mityo91@gmail.com";
        //    var pword = "Contractors_Hub";
        //    const cities = await fetch(`http://ee.econt.com/services/Nomenclatures/NomenclaturesService.getCities.json`, {
        //        method: "POST",
        //        headers: {
        //            "Authorization": "Basic " + (uname + ":" + pword),
        //            "Content-Type": "application/json"
        //        },
        //        body: JSON.stringify({ countryCode: "BGR" })
        //    });
        //    const result = await cities.json();
        //    console.log("try before result");

        //    console.log(await result);
        //    console.log("try after result");
        //}
        //console.log("try before test");

        //await test();
    }
</script>
