@model IEnumerable<ToolViewModel>

@{
    ViewBag.Title = "All Tools";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var tool in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            @* <img class="card-img-top" style="width: 18rem;"
        src="@job.ImageUrl" alt="Book Image">*@
            <div class="card-body">

                <h5 class="card-title mt-1">@tool.Title</h5>
                <p class="mb-0">Brand: @tool.Brand</p>
                <p class="mb-0">Price: @tool.Price</p>
                <p class="mb-0">Quantity: @tool.Quantity</p>
                <p class="mb-0">Description: @tool.Description</p>
                <p class="mb-0">Category: @tool.Category</p>
                <p class="mb-0">Added by: @tool.OwnerName</p>
            </div>
            @*
        <form class="input-group-sm" asp-route-jobId="@job.Id" asp-controller="Offer" asp-action="Send" method="post">
        <input type="submit" value="Send Offer" class="fs-6 btn btn-success mb-3 p-2" />
        </form>*@
            <a asp-controller="Cart" asp-action="Add" asp-route-id="@tool.Id" class="btn btn-success mb-2">Add to Cart</a>
           
           @* <a asp-controller="Job" asp-action="Details" asp-route-id="@tool.Id" class="btn btn-success mb-2">Details</a>

            @if (this.User.Id() == tool.OwnerId)
            {
                <a asp-controller="Job" asp-action="Edit" asp-route-id="@tool.Id" class="btn btn-primary mb-2">Edit</a>

                <a asp-controller="Job" asp-action="Delete" asp-route-id="@tool.Id" class="btn btn-danger mb-2">Delete</a>
            }*@
        </div>
    }
</div>