@model IEnumerable<JobViewModel>

@{
    ViewBag.Title = "All Jobs";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (Model.Any())
    {
        @foreach (var job in Model)
        {
            <div class="card col-4" style="width: 20rem;">
                <div class="card-body">

                    <h5 class="card-title mt-1">@job.Title</h5>
                    <p class="mb-0">Description: @job.Description</p>
                    <p class="mb-0">Category: @job.Category</p>
                    <p class="mb-0">OwnerName: @job.OwnerName</p>
                    <p class="mb-0">StartDate: @job.StartDate</p>
                </div>           
                <a asp-controller="Job" asp-action="Details" asp-route-id="@job.Id" class="btn btn-success mb-2">Details</a>               
            </div>
        }

    } else
    {
        <h3 class="text-center">No current jobs</h3>
    }
</div>


